.contact_section {
    height: 32vh;
}

.contact_main {
    background-color: rgba(246, 250, 250, 0.529);
    width: 80%;
    border-radius: 1.1rem;
    margin: auto;
    display: grid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contact_main h2 {
    color: #2c3e50;
    font-size: 2.8rem;
    font-family: 'Acme', sans-serif;
    text-align: center;
    margin-top: 2.5rem;
    letter-spacing: .8px;
}

.email_btn {
    font-size: 1.3rem;
    padding: 3px 5px;
    margin: 1.2rem 0 3.3rem 0;
    border: 2px solid #e67e22;
    color: #e67e22;
    background-color: transparent;
    border-radius: 0.3125rem;
    align-self: center;
    text-justify: auto;
    font-family: 'Acme', sans-serif;
    cursor: pointer;
    justify-self: center;
}

.footer {
    justify-self: center;
    display: grid;
}

.i {
    margin: .4rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: #34495e;
}

.social_div {
    justify-self: center;
}

.copyRight {
    justify-self: center;
    margin-bottom: .8rem;
    color: #728182b9;
}

@media screen and (max-width: 1300px) {

    @media screen and (max-width: 1000px) {
        .contact_main {
            width: 85%;
        }

        .contact_main h2 {
            font-size: 1.8rem;
        }

        .contact_section {
            height: 22vh;
        }

        @media screen and (max-width: 800px) {

            .contact_main h2 {
                color: #2c3e50;
                font-size: 2rem;
            }

            .contact_main {
                width: 90%;
            }

            .contact_section {
                height: 32vh;
            }

            @media screen and (max-width: 580px) {}
        }
    }

}