.heroSection {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.navBar {
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #eff9f9c4;
    margin: 2rem;
    border-radius: 0.625rem;

    box-shadow: rgba(160,
            199,
            211,
            0.573) 0px .5px .5px, rgba(160,
            199,
            211,
            0.573) 0px 1px 2px, rgba(160,
            199,
            211,
            0.573) 0px 2px 2px, rgba(160,
            199,
            211,
            0.573) 0px 4px 4px, rgba(160,
            199,
            211,
            0.573) 0px 6px 6px;
}

.logo {
    width: 10%;
    padding-left: 1rem;
    cursor: pointer;
}

.navLinks {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding-right: 1rem;
}

.navLinks li {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.mobileMenuIcon {
    display: none;
    margin-right: 1rem;
    font-size: 1.8rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Hero Styling */

.heroFirstDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16.3%;
}

.heroSecDiv {
    width: 40%;
    padding-left: 3rem;
}

.heroImg {
    width: 50%;
}

.heroBtn {
    width: 30%;
    cursor: pointer;
    opacity: 0;
    animation: moveUp .7s ease-in-out forwards 2.3s;

}

.heroP {
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: 1px;
    padding: 2rem 0;
    opacity: 0;
    animation: moveUp .7s ease-in-out forwards 2s;
}

.navDiv {
    position: relative;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1000px) {
    .navBar {
        margin: .5rem;
        height: 4.5rem;
        position: relative;
    }

    .navLinks {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        top: 4.575rem;
        right: -100%;
        border-radius: 0.75rem;
        padding: 2.5rem 0 0 1.25rem;
        width: 250px;
        height: 100vh;
        background-color: #eafefe58;
        box-shadow: rgba(160, 199, 211, 0.573) 0px 2px 8px 0px;
        backdrop-filter: blur(.875rem);
        transition: .3s all ease-in-out;
        z-index: 100;
    }

    .expand {
        right: 0.2188rem;
        transition: right 0.3s ease;
    }

    .mobileMenuIcon {
        display: block;
    }

    .logo {
        width: 20%;
    }

    /* Hero responsive design */

    .heroImg {
        width: 85%;
    }

    .heroP {
        font-size: 1.3rem;
        line-height: 1.3;
        letter-spacing: .6px;
        padding: 2rem 0;
    }

    .heroFirstDiv {
        margin-top: 60%;
    }

    .heroSecDiv {
        width: 80%;
        padding-left: 3rem;
    }

    .heroBtn {
        width: 30%;
    }

    @media screen and (max-width: 800px) {

        .heroSection {
            height: 100vh;
        }

        .navBar {
            margin: .5rem;
            height: 4rem;
        }

        /* .navLinks {
            display: none;
        } */

        .logo {
            width: 20%;
        }

        /* Hero responsive design */

        .heroImg {
            width: 80%;
        }

        .heroP {
            font-size: 1rem;
            line-height: 1.2;
            letter-spacing: .6px;
            padding: 1.1rem 0;
        }

        .heroBtn {
            width: 40%;
        }

    }

    @media screen and (max-width: 580px) {
        .navBar {
            margin: .5rem;
            height: 3.3rem;
        }

        .logo {
            width: 28%;
        }

        .mobileMenuIcon {
            font-size: 1.8rem;
        }

        /* Hero responsive design */

        .heroImg {
            width: 80%;
        }
    }
}