.work_article {
    width: 90%;
    margin: 17.5rem auto;
}

.work_article h2 {
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
}

.line {
    font-size: 1.8rem;
}

.main_div {
    display: flex;
    gap: 3rem;
    margin: 5rem;
}

.text_div {
    display: grid;
    align-self: auto;
}

.text_div p {
    width: 90%;
    line-height: 1.4;
    font-size: 1.125rem;
}

.text_div h4 {
    color: #e67e22;
    font-size: 1.6rem;
    font-weight: bold;
    align-self: center;
}

.Stack_div span {
    margin: auto 1rem;
    font-weight: 600;
    color: #728182;
}

.Stack_div h6 {
    font-size: 1.1rem;
    color: #2c3e50;
    margin: 1rem 0;
}

.buttons_div {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

button {
    font-size: 1.3rem;
    padding: 3px 5px;
    border: 2px solid #e67e22;
    color: #e67e22;
    background-color: transparent;
    border-radius: 0.3125rem;
    align-self: center;
    text-justify: auto;
    font-family: 'Acme', sans-serif;
    cursor: pointer;
}

.main_div img {
    width: 80%;
    height: 60vh;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

@media screen and (max-width: 1300px) {

    .work_article {
        width: 85%;
        margin: 17.5rem auto;
    }

    .main_div {
        display: flex;
        gap: 3rem;
        margin: 5rem auto;
    }

    .main_div img {
        width: 100%;
        height: 100vh;
    }

    .text_div {
        display: grid;
        gap: 1.3rem;
    }

    @media screen and (max-width: 1000px) {

        .work_article {
            width: 90%;
            margin: 13rem auto;
        }

        .main_div {
            display: flex;
            flex-direction: column;
            width: 85%;
            margin: 1rem auto 3rem;
        }

        .text_div p {
            width: 100%;
            margin: 1.2rem 0;
        }

        .Stack_div {
            margin: 1rem 0 3rem 0;
        }

        .main_div img {
            width: 100%;
            height: 60vh;
            margin-top: 4rem;
        }

        @media screen and (max-width: 800px) {

            .work_article {
                width: 90%;
                margin: 8.5rem auto;
            }

            .main_div {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 4rem auto;
            }

            .main_div img {
                width: 98%;
            }

            .text_div {
                margin: 1.5rem auto;
                width: 90%;
            }

            .Stack_div {
                margin: 0rem 0 1rem 0;
            }

            @media screen and (max-width: 580px) {
                .work_article h2 {
                    font-size: 2rem;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}